{% extends 'base.html' %}

{% block container %}
{% include 'snippets/header.html'%}

<body>
<div class="container pt-4">
<div class="row">
     {% for article in articles['articles'] %}
     <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-5 shadow-sm">
             {% if article['picture'] %}
                <img src="{{ url_for('api_bp.get_image_articles', imageName=article['picture']) }}" height="200px"
                     width="100%" alt="{{ article['picture'] }}">
                {% else %}
                <img src="#" height="200px" width="100%" alt="{{ article['picture'] }}">
                {% endif %}
            <div class="card-body">
                <div class="card-title">
                    <p><strong><em>{{ article['title'] }}</em></strong></p>
                </div>
                <div class="card-text">
                        {%if article['content']|length > 50%}
                        {{article['content'][:50]|safe}}
                        {% else %}
                        {{article['content']|safe}}
                        {%endif%}
                </div>
                <a href="#" class="btn btn-sm btn-outline-success rounded-0 float-end"
                >Read More</a
                >
            </div>
          </div>
     </div>
    {% endfor %}
</div>

</div>
</body>

{% endblock%}

