{% extends 'base.html' %}

{% block container %}
{% include 'snippets/header.html'%}


<div class="container p-5 primary">
    <div class="row">

        <div class="col-lg-8">
            <h4>{{article['title']}}</h4>
            {{article['created']}} <!-- Created is the date the article was created -->
            <img class="mb-3" src="{{ url_for('api_bp.get_image_articles', imageName=article['picture']) }}" height="400px"
                 width="100%" alt="{{ article['picture'] }}"
            >
            {{article['content']| safe}}
        </div>


        <!--          test content location -->
        <div class="col-lg-4 col-md-6 pt-5 ">
            {% for trending in latest_news %}
            <div class="card mb-5 mt-3 shadow-sm">
                {% if trending['picture'] %}
                <img class="" src="{{ url_for('api_bp.get_image_articles', imageName=trending['picture']) }}" height="200px"
                     width="100%" alt="{{ trending['picture'] }}">
                {% else %}
                <img src="#" height="200px" width="100%" alt="{{ trending['picture'] }}">
                {% endif %}
                <div class="card-body">
                    <div class="card-title">
                        <p><strong><em>{{ trending[' title'] }}</em></strong></p>
                    </div>
                    <div class="card-text">
                        {%if trending['content']|length > 50%}
                        {{ trending['content'][:50]|safe }}
                        {% else %}
                        {{ trending['content']|safe }}
                        {%endif%}
                    </div>
                    <a href="{{ url_for('news_bp.git_individual_article_by_id', article_id=trending['id']) }}"
                       class="btn btn-sm btn-outline-success rounded-0 float-end"
                    >Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include 'snippets/footer.html'%}
{% endblock%}

<!--file not added to git-->