<!--https://mdbootstrap.com/docs/standard/navigation/footer/examples-and-customization/-->


<footer class="footer">
     <div class="container li-text-align">
      <div class="row">

        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>
            <li><a href="#">affiliate program</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Resources</h4>
          <ul>
            <li><a href="#">Gis Portal</a></li>
            <li><a href="#">shipping</a></li>
            <li><a href="#">returns</a></li>
            <li><a href="#">Disclaimer</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Contact Us</h4>
          <ul>
            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 191 Old Hope Road, Kingston 6</a></li>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>(876) 927-0441</a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> almd@moa.gov.jm</a></li>
            <li><a href="#"> almd@moa.gov.jm</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
          </div>

        </div>
      </div>
     </div>
  </footer>
