{% extends 'base.html' %}

{% block container %}
{% include 'snippets/header.html'%}

<img src="" class="pb-4" alt="laboratory"/>
<div class="container">
    <h2 class="laborator-title pb-4 text-center">Soil Health, Plant Tissue & Water Laboratory</h2>

    <section>
        <h4>BRIEF HISTORY OF THE LABORATORY</h4>
        <p>The Soil Health, Plant Tissue & Water Laboratory was established during the 1930's. The original building was
            damaged by fire and the building which presently exists,
            with some amount of additions, was constructed in 1949. It is to be noted that on April 7, 1942, R.F. Innes,
            Chief Chemist of the Department of Agriculture
            completed an analysis of the soil on the Lynford property in St. Ann which is owned by Sir Alfred DaCosta,
            and informed the Director of Agriculture at the time,
            G.A. Jones, and Sir Alfred that there is aluminia in commercial quantities in the earth.
        <p>

        <p>The Laboratory was designed to provide analytical services primarily to the farming community, local
            institutions and agencies. This service is now also extended
            to international agencies, companies and institutions. It analyses soil, plant tissue, water, fertilizer and
            other samples to determine their elemental contents.
            A significant number of the soil analysis is done to verify soil survey field data for soil identification,
            characterization and classification.</p>

        <p>The laboratory has the potential to be pivotal to soil fertility and succession in crop production. It has
            shown to have profound impact on understanding the soils
            of Jamaica and on plant care. Therefore, given the wherewithal, the laboratory is able not only to earn
            money, but to earn the respect from having contributed
            to sustained successes in farming.</p>
    </section>

    <section>
        <h4>FUNCTIONS OF THE LABORATORY</h4>
        <p>The core functions of the Laboratory include:</p>
        <ul class="laboratory-section-list custom-bullet">
            <li>Planning and executing soil survey studies.</li>
            <li>Soil health analyses (physical, chemical & biological components of the soil)</li>
            <li>Conducting plant/leaf tissue analyses for clientele.</li>
            <li>Conducting water sample analyses for clientele.</li>
            <li>Providing advice on soil fertility management.</li>
            <li>Recommendations of fertilizers to clientele as a result of soil analyses done.</li>
        </ul>
    </section>


    <h4>LABORATORY ANALYSES</h4>
    <p>The Soil Health, Plant Tissue & Water Laboratory has the capacity to perform a wide range of analyses. These are
        arranged into four(4) categories:</p>


    <section class="nutrient-tables pb-4">
        <figure class="left-elemtnt-table">
            <p><strong>Determinations on Soil Samples</strong></p>
            <table class="table">
                <tr>
                    <th>Element</th>
                    <th>&nbsp</th>
                </tr>
                <tr>
                    <td><span class="table-number">1</span> Total Nitrogen</td>
                    <td><span class="table-number">9</span> Bulk Density, Hydraulic</td>
                </tr>
                <tr>
                    <td><span class="table-number">2</span> Available Potassium (K20)</td>
                    <td><span class="table-number">10</span> Organic Matter (OM), Moisture (%)</td>
                </tr>
                <tr>
                    <td><span class="table-number">3</span> Available Phosphate (P2O5)</td>
                    <td><span class="table-number">11</span> Particle Density</td>
                </tr>
                <tr>
                    <td><span class="table-number">4</span> Calcium Carbonate (CaCO3)</td>
                    <td><span class="table-number">12</span> Anion Cl-, SO4<sup>2-</sup>, NO3<sup>-</sup> etc.</td>
                </tr>
                <tr>
                    <td><span class="table-number">5</span> Electrical Conductivity (EC)</td>
                    <td><span class="table-number">13</span> Particle Size Distribution</td>
                </tr>
                <tr>
                    <td><span class="table-number">6</span> Cation Exchange Capacity (CEC)</td>
                    <td><span class="table-number">14</span> Exchangeable Aluminum</td>
                </tr>
                <tr>
                    <td><span class="table-number">7</span> Trace Elements (Mn, Fe, Zn & Cu)</td>
                    <td><span class="table-number">15</span> Exchangeable Acidity</td>
                </tr>
                <tr>
                    <td><span class="table-number">8</span> Exchangeable Cations (Ca, Mg, K & Na)</td>
                    <td><span class="table-number">16</span> pH (H2O, KCL)</td>
                </tr>
            </table>
        </figure>

        <figure class="right-element-table">
            <p><strong>Analyses on Water Samples</strong></p>
            <table class="table">
                <tr>
                    <th>Element</th>
                    <th>&nbsp</th>
                </tr>
                <tr>
                    <td><span class="table-number">1</span> Sodium</td>
                    <td><span class="table-number">8</span> Sulfate (SO<sub>4</sub><sup>2-</sup>)</td>
                </tr>
                <tr>
                    <td><span class="table-number">2</span> Chloride (Cl-)</td>
                    <td><span class="table-number">9</span> Carbonate (CO<sub>3</sub><sup>2-</sup>)</td>
                </tr>
                <tr>
                    <td><span class="table-number">3</span> Calcium</td>
                    <td><span class="table-number">10</span> Bicarbonate (HCO<sub>3</sub><sup>-</sup>)</td>
                </tr>
                <tr>
                    <td><span class="table-number">4</span> Magnesium</td>
                    <td><span class="table-number">11</span> Carbondioxide (CO<sub>2</sub>)</td>
                </tr>
                <tr>
                    <td><span class="table-number">5</span> Potassium</td>
                    <td><span class="table-number">12</span> Hydroxyl (OH-)</td>
                </tr>
                <tr>
                    <td><span class="table-number">6</span> pH</td>
                    <td><span class="table-number">13</span> Total Solids</td>
                </tr>
                <tr>
                    <td><span class="table-number">7</span> Electrical Conductivity (EC)</td>
                    <td></td>
                </tr>
            </table>
        </figure>
    </section>


    <div class="nutrient-tables pb-4">

        <figure class="left-elemtnt-table">
            <p><strong>Analyses on Fertilizers (organic & inorganic)</strong></p>
            <table class="table">
                <tr>
                    <th>Element</th>
                    <th>&nbsp</th>
                </tr>
                <tr>
                    <td><span class="table-number">1</span> Total Nitrogen</td>
                    <td><span class="table-number">&nbsp</span></td>
                </tr>
                <tr>
                    <td><span class="table-number">2</span> Potassium</td>
                    <td><span class="table-number">&nbsp</span></td>
                </tr>
                <tr>
                    <td><span class="table-number">3</span> Phosphate</td>
                    <td><span class="table-number">&nbsp</span></td>
                </tr>
            </table>
        </figure>


        <figure class="right-elemtnt-table">

            <p><strong>Analyses on Plant / Leaf Tissues</strong></p>
            <table class="table">
                <tr>
                    <th>Element</th>
                    <th>&nbsp</th>
                </tr>
                <tr>
                    <td><span class="table-number">1</span> Total Nitrogen (N)</td>
                    <td><span class="table-number">5</span> Magnesium</td>
                </tr>
                <tr>
                    <td><span class="table-number">2</span> Potassium (K<sub>2</sub>O)</td>
                    <td><span class="table-number">6</span> Sodium</td>
                </tr>
                <tr>
                    <td><span class="table-number">3</span> Phosphate</td>
                    <td><span class="table-number">7</span> Trace Elements (Mn, Fe, Zn &amp; Cu)</td>
                </tr>
                <tr>
                    <td><span class="table-number">4</span> Carbonate</td>
                    <td><span class="table-number">-</span></td>
                </tr>
            </table>
        </figure>


    </div>

</div>

{% include 'snippets/footer.html'%}
{% endblock %}
