{% extends 'base.html' %}

{% block container %}


<section class="container">
    <div class="row">
        <div class="col-lg-8">
            <!--      Left table -->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Element</th>
                                <th>#</th>
                                <th>Element</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1.</td>
                                <td>Total Nitrogen</td>
                                <td>9.</td>
                                <td>Bulk Density, Hydraulic</td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>Available Potassium (K20)</td>
                                <td>10.</td>
                                <td>Organic Matter (OM), Moisture (%)</td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>Available Phosphate (P2O5)</td>
                                <td>11.</td>
                                <td>Particle Density</td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>Calcium Carbonate (CaCO3)</td>
                                <td>12.</td>
                                <td>Anion Cl-, SO4 2 , NO3- etc.</td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>Electrical Conductivity (EC)</td>
                                <td>13.</td>
                                <td>Particles Size Distribution</td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>Cation Exchange Capacity (CEC)</td>
                                <td>14.</td>
                                <td>Exchangeable Aluminum</td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>Trace Elements (Mn, Fe, Zn & Cu)</td>
                                <td>15.</td>
                                <td>Exchangeable Acidity</td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>Exchangeable Cations (Ca, Mg, K & Na)</td>
                                <td>16.</td>
                                <td>pH (H2O, KCL)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <!--      Right table-->
            <div class="container">
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Element</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Total Nitrogen (N)</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Potassium (K20)</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Phosphate</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Carbonate</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Magnesium</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Sodium</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Trace Elements (Mn, Fe, Zn & Cu)</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Element</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Total Nitrogen</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Potassium</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Phosphate</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Element</th>
                    <th>#</th>
                    <th>Element</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Total Nitrogen (N)</td>
                    <td>5</td>
                    <td>Magnesium</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Potassium (K20)</td>
                    <td>6</td>
                    <td>Sodium</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Phosphate</td>
                    <td>7</td>
                    <td>Trace Elements (Mn, Fe, Zn & Cu)</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Carbonate</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
