{% extends 'base.html' %}


{% block container %}


<section class="showcase">
    <header>
        {% include 'snippets/header.html'%}
    </header>
    <video src="/static/files/landscape_video.mp4" muted loop autoplay></video>
</section>


<section class="info-section section-padding"> <!-- area below video on home screen with different content  -->


    <div class="our-agency-section section-padding">
        <h1 class="section-title"> Our Agency</h1>
        <p style="width:60%;  margin: auto; ">laoreet suspendisse interdum consectetur libero id faucibus
            nisl tincidunt eget nullam non nisi est sit amet
            facilisis magna etiam tempor orci
            eu lobortis elementum nibh tellus molestie nunc non blandit massa enim nec dui nunc mattis enim ut tellus
            elementum sagittis</p>
        <div class="container m-5">
            <div class="row">
                <div class="col">
                    <h2>Welcome to the agricultural land management division</h2>
                    <p>The Agricultural Land Management Division (ALMD) is an integral part of the Technical Directorate
                        within the Ministry of Agriculture (MOA). In November 2013, the division was renamed from the
                        Rural Physical Planning Division (RPPD). Its primary objective is to provide expert advisory
                        services on soil and agricultural land use management....</p>
                    <button type="button" class="btn btn-success">Read More</button>
                </div>
                <div class="col">
                    <img class="main-info-image" src="/static/files/almd-department.png"/>
                    <!--TODO: Image should be replaced-->
                </div>
            </div>
        </div>
    </div>


    <div class="soils-day-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="main-info-image" src="/static/files/almd-department.png">
                    <!--TODO: image should be replaced -->
                </div>
                <div class="col">
                    <h1>World Soils Day</h1>
                    <p>As part of the EU-funded project support to increase productivity and growth in the Forest Sector
                        of
                        Jamaica, the Forestry
                        Department of Jamaica presented the inaugural National Forestry Conference (NFC) on 7th - 8th
                        December 2022. The venue for the NFC was
                        Jamaica Conference Center, 14-20 Port Royal Street, Kingston View Details
                    </p>
                    <button type="button" class="btn btn-success"> Read More</button>
                </div>
            </div>

        </div>

    </div>

    <!-- Our service section which is made up of three cards -->
    <div class="service-section section-padding">
        <h1> Our Services</h1>
        <div class="container">
            <div class="row ">

                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="/static/files/almd-department.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="/static/files/almd-department.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

                <div class="col  ">
                    <div class="card">
                        <img class="card-img-top" src="/static/files/almd-department.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>
                </div>

            </div> <!--end of card row-->
        </div>

    </div>

    <!--   Our products section which is made up of a carousel (slideshow)   -->
    {% include 'snippets/products-carousel.html'%}


    <!--    Latest news section-->

    <div class="service-section section-padding">
        <h1> Latest News</h1>
        <div class="container">
            <div class="row ">


                {% for article in articles['articles'] %}
                <div class="col">
                    <div class="card">
                        {% if article['picture'] %}
                        <img src="{{ url_for('api_bp.get_image_articles', imageName=article['picture']) }}"
                             height="200px"
                             width="100%" alt="{{ article['picture'] }}">
                        {% else %}
                        <img src="#" height="200px" width="100%" alt="{{ article['picture'] }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-left">{{ article['title']}}</h5>
                            <p class="card-text text-left">
                                {%if article['content']|length > 50%}
                                {{article['content'][:50]|safe}}
                                {% else %}
                                {{article['content']|safe}}
                                {%endif%}
                            </p>
                        </div>
                        <a href="{{ url_for('news_bp.git_individual_article_by_id', article_id=article['id']) }}"
                           class="btn btn-sm btn-outline-success rounded-0 float-end d-inline-block"
                        >Read More</a>
                    </div>
                </div>
                {% endfor %}


            </div> <!--end of card row-->
        </div>

    </div>

</section>


<footer>
    {% include 'snippets/footer.html'%}
</footer>

{% endblock%}